* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-page {
    background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);

}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    padding: 60px 0;
    margin-top: 60px;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-left: 35px;
    font-weight: 400;
    font-size: 15px;
    font-family: Arial;
    text-decoration: none;
    color: #FAFAFA;
    padding-bottom: 4px;
}

.logo {
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    text-decoration: none;
    color: #F1CDB3;
    letter-spacing: 0.06em;
}

.slogan {
    font-size: 13px;
    font-family: Arial;
    font-weight: 400;
    color: white;
    letter-spacing: 0.1em;
}

.active {
    border-bottom: #F1CDB3 solid 3px;
}

.puppy {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

puppyimg {
    width: 698px;
    height: 728px;
}

.heading1 {
    font-family: Georgia;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    width: 325px;
    height: 114px;
}

.offer {
    color: #CDCDCD;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    width: 460px;
    margin-top: 42px;
}

.button {
    background-color: #F1CDB3;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 6%;
    border-radius: 100px;
    padding: 15px 45px;
    color: #292929;
    border: none;
    gap: 10px;
    margin-top: 41px;
}

.info {
    align-self: center;
}

.second-page {
    background: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 100px;
}
.second{
    display: flex;
    align-items: center;
    max-height: 588px;
}

.about-shelter {
    margin-left: 126px;
}

.about-pets {
    margin-left: 175px;
    max-height: 408px;
    max-width: 300px;
}

.heading3-about {
    color: #545454;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 6%;
    width: 310px;
    height: 90px;
}

.third-page {
    background: #F6F6F6;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.third-page h3 {
    width: 400px;
    text-align: center;
    font-family: Georgia;
    color: #545454;
    font-weight: 400;
    line-height: 45.5px;
    font-size: 35px;
    letter-spacing: 6%;
    margin: 80px 440px 35px 440px;
}

.about-shelter p {
    font-size: 15px;
    padding-top: 25px;
    font-family: Arial;
    font-weight: 400;
    line-height: 24px;
    width: 430px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.cards img {
    height: 270px;
    width: 270px;
    padding-bottom: 30px;
}

.cards p {
    padding-bottom: 30px;
    font-family: Georgia;
    font-size: 20px;
    line-height: 22.72px;
    font-weight: 400;
    letter-spacing: 6%;
}

.card-2 {
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
}

.card-3 {
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
}

.card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
}

.cards button {
    margin-bottom: 30px;
    padding: 15px 45px 15px 45px;
    color: #292929;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: white;
    gap: 10px;
    font-size: 17px;
    font-family: Georgia;
    font-weight: 400;
    ;
    line-height: 22.1px;
    letter-spacing: 6%;
}

.rest {
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 15px 45px 15px 45px;
    color: #292929;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #F1CDB3;
    gap: 10px;
    font-size: 17px;
    font-family: Georgia;
    font-weight: 400;
    ;
    line-height: 22.1px;
    letter-spacing: 6%;
}

.forth-page {
    
    background: #FFFFFF;
    padding-bottom: 81px;
}

.forth{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 1026px; */
    justify-content: space-between;
    align-items: center;
    gap: 120px;

}

.forth-page h3 {
    width: 308px;
    text-align: center;
    font-family: Georgia;
    color: #545454;
    font-weight: 400;
    line-height: 45.5px;
    font-size: 35px;
    letter-spacing: 6%;
    margin-bottom: 76px;
    margin-top: 97px;
}

.forth-page img {
    width: 82px;
    height: 113px;
}
.vitamins{
    margin-left: 179px;
}

.vector9{
    margin-right: 163px;
}
.shampoos{
    margin-right: 79px;
}

.pet-food{
    margin-left: 95px;
}


.list p {
    margin-top: 30px;
    font-family: Georgia;
    font-size: 20px;
    line-height: 22.72px;
    font-weight: 400;
    letter-spacing: 6%;
}


.donation-dog {
    width: 505px;
    height: 261px;
    margin-left: 142px;
}

.fifth-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 100px;
    background: #F6F6F6;
}

.info-dog {
    margin-right: 143px;
    margin-left: 30px;
    max-width: 380px;
}

.fifth-page h3 {
    color: #545454;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 6%;
    width: 300px;
    height: 90px;
    margin-bottom: 20px;
}

.name-of-bank {
    font-family: Georgia;
    font-size: 15px;
    line-height: 16.5px;
    font-weight: 400;
    letter-spacing: 6%;
    color: #545454;
    margin-bottom: 20px;
}

.info-dog button {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 10px 15px;
    color: #545454;
    /* border: 2px solid #F1CDB3; */
    border-radius: 9px;
    background-color: #F1CDB3;
    gap: 10px;
    font-size: 20px;
    font-family: Georgia;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    border: none;
}

.info-dog img {
    width: 30px;
    height: 23px;
    margin-right: 15px;
}

.info-dog .caption{
    font-family: Arial;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    width: 380px;
    height: 72px;
}

footer{
    background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 72px;
}

.questions{
    width: 278px;
    height: 234px;
    margin-left: 40px;
    margin-right: 160px;
}
.adress{
    margin-right: 160px;
    width: 302px;
    height: 234px;
}
.email{
    display: flex;
    flex-direction: row;
}
.telephone{
    display: flex;
    flex-direction: row; 
}

.first-adress{
    display: flex;
    flex-direction: row; 
}
.second-adress{
    display: flex;
    flex-direction: row;  
}

.questions h3{
    color: #FFFFFF;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 6%;
    width: 278px;
    height: 90px;
    margin-bottom: 40px;
}

.adress h3{
    color: #FFFFFF;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 6%;
    width: 270px;
    height: 90px;
    margin-bottom: 40px;
}

.questions img{
    width: 40px;
    height: 32px;
}

.adress img{
    width: 40px;
    height: 32px;
}

.questions p{
    color: #F1CDB3;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 6%;
    margin-left: 20px;  
}
.adress p{
    color: #F1CDB3;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 6%;
    margin-left: 20px;  
}

.email{
margin-bottom: 40px;
width: 191px;
height: 23px;

}

.telephone{
    /* height: 23px; */
}

.first-adress{
margin-bottom: 40px;
width: 260;
    height: 46px;
}
.second-adress{
    height: 23px;
}

